
<div class="b-welcome-container">
    <h2 class="b-title b-text b-text--bold">Bienvenido a <span class="b-text b-text--italic">{{company}}</span></h2>
    <h3 class="b-text b-text--bold">¿Qué es <span class="b-text b-text--italic">{{company}}</span>?</h3>
    <p class="b-text b-text--light">{{lorem}}</p>
    <h3 class="b-text b-text--bold">¿Para qué puedo usar <span class="b-text b-text--italic">{{company}}</span>?</h3>
    <p class="b-text b-text--light">{{lorem}}</p>
    <h3 class="b-text b-text--bold">¿Quiénes hacemos en <span class="b-text b-text--italic">{{company}}</span>?</h3>
    <p class="b-text b-text--light">{{lorem}}</p>
    <h3 class="b-text b-text--bold">¿Es seguro usar <span class="b-text b-text--italic">{{company}}</span>?</h3>
    <p class="b-text b-text--light">{{lorem}}</p> 
</div>
