<div class="b-logo">
    <img width="40px" src="{{image}}" alt="">
    <h1 class="b-text b-text--bold">Shopéame</h1>
</div>
<div class="b-menu">
    <div class="b-menu__links" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
        <i class="fa-sharp fa-solid fa-radiation"></i>
        <a routerLink="/">Home</a>
    </div>
    <div class="b-menu__links" routerLinkActive="active">
        <i class="fa-solid fa-binoculars"></i>
        <a routerLink="/products">Prods.</a>
    </div>
    <div class="b-menu__links" routerLinkActive="active">
        <i class="fa-sharp fa-solid fa-dharmachakra"></i>
        <a routerLink="/management" >Gestión</a>
    </div> 
</div>

