<div class="b-footer">
    <span class="b-text b-text--light" >Síguenos en:</span>
    <div class="b-social-links">   
        <a class="b-text b-text--light" href="https://www.twitter.com">Twitter</a>
        <a class="b-text b-text--light" href="https://www.facebook.com">Facebook</a>
        <a class="b-text b-text--light" href="https://www.instagram.com">Instagram</a>
        <a class="b-text b-text--light" href="https://www.tiktok.com">TikTok</a>
    </div>   
    <span class="b-text b-text--light" >Copyright Shopéame 2022</span>
</div>